<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" type="text/css" href="css/style.css">

  <script crossorigin src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

  <title>Vueのサンプル</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <h1><span>{{ title }}</span>のサンプル</h1>

      <div class="row">
        <input type="text" class="form-control"/>
        <button type="button" class="btn-action">追加</button>
      </div>

      <div class="tmp-space">
        入力値 : <span>掃除</span>
      </div>

      <div>
        <table class="table-bordered">
          <thead>
            <tr>
              <th>重要度大</th>
              <th>重要度中</th>
              <th>重要度小</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <p v-for="todo in todos.high" v-bind:key="todo">
                  <button type="button" class="btn-todo-high">{{ todo }}</button>
                </p>
              </td>
              <td>
                <p v-for="todo in todos.normal" v-bind:key="todo">
                  <button type="button" class="btn-todo-normal">{{ todo }}</button>
                </p>
              </td>
              <td>
                <p v-for="todo in todos.low" v-bind:key="todo">
                  <button type="button" class="btn-todo-low">{{ todo }}</button>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tmp-space">
        重要度の変更を表示 : <span>{{ isSelectdItem }}</span>
      </div>

      <div v-if="isSelectdItem">
        <div class="content-center">
          <div class="card">
            <p class="text-center">
              <span class="color-red">洗濯</span>の重要度を
            </p>
            <p>
              <button type="button" class="btn-action" disabled>上げる</button>
              <button type="button" class="btn-action">下げる</button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // TODO ここに記述する
    const app = new Vue({
      el: '#app',
      data: function(){
        return {
          title: 'Vue.js',
          isSelectdItem: Math.random() > 0.5,
          todos: {
            high: ['掃除', '洗濯', '炊事'],
            normal: ['買い物', '草刈り', 'アイロン'],
            low: ['窓拭き', '振り込み', '家計簿管理']
          }
        }
      }
    })
  </script>
</body>
</html>
